@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Database</h1>
    <p>Check out more jokes over here... <a href="https://www.goodhousekeeping.com/life/parenting/g28581033/best-jokes-for-kids/">You are looking at the best joke page</a>.</p>
</div>
