html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
a{
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}
a:active{
    color: crimson;
}
div{
    padding: 4px 2px ;
}